/* .hotel-details-container {
} */
.p {
  color: var(--accent-color);
}
.host-details {
  padding: 1rem 0 1rem 0;
}

.gutter-bottom-small {
  padding-bottom: 1rem;
}

.features {
  padding: 0.5rem 1rem 0 0;
}
